<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Lost & Found", items_path , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", items_path, id: "navbarstuff" %></li>
        <li><%= link_to "Search Items", search_items_path , id: "navbarstuff" %></li>
        <li id="navbarstuff"><%= Time.now %></li>
      </ul>
    </nav>
  </div>
</header>